:root {
    --primary: #0b9790;
    --dark: #103c3b;
    --alternate: #127360;
    --light: #ffffff;
    --spacing: 20px;
}

header {
text-align:center;
background-color: var(--primary);
}

header h1 {
    padding: var(--spacing);
    color: var(--light);
    text-align: center;
    font-family: Helvetica;
}

.card {
    font-family: Helvetica;
    margin: 60px auto;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #90bdb4;
}

.card img {
 width:100%;
    border-radius: 10px;    
}

.card-content {
justify-content: center;
}

.card-content h2 {
 text-align: center; 
 color: var(--light);   
}

.card-content p {
 text-align: center;    
}

.card-content button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 7px;    
}

.card-content button:hover {
 background: #1dd2ae;   
}

@media (max-width: 767px) {
    :root {
        --spacing: 60px;
    }
    header {
        background-color: var(--dark);
    }
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    :root {
        --spacing: 60px;
    }
    header {
        background-color: var(--alternate);
    }
    h1 {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    header {
        background-color: var(--primary);
    }
}