body {
    background-color: #fabcd9;
    font-family: Arial, sans-serif;
}

aside {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

h2{
    color: #332198;
}

h3 {
    color: #789873;
    font-size: 14px;
}

p {
    font-size: 16px;
    line-height: 1.4;
}