/*Project Variables */

:root {
    --primary-color: #007bff;
    --secondary-color: #e5e8ec;
    --border-color: #dddddd;
    --border-width: 1px;
    --button-background-color: #0dbc99;
    --button-text-color: #ffffff;
    --button-hover-background-color: #21e3af;
    --button-padding: 10px 20px;
    --button-border:0;
    --button-border-radius:6px;
    --card-padding-mobile: 15px;
    --card-padding-desktop: 30px;
    --card-border-radius: 10px;
    --card-margin: 20px;
    --card-width-desktop: 450px;
    --card-width-mobile: 300px;
    --heading-font-size-mobile: 24px;
    --heading-font-size-desktop: 36px;
    --paragraph-font-size: 16px;
    --image-width: 100%;
    --font-family:Helvetica;
}

.card {
    margin: var(--card-margin);
    font-size: var(--paragraph-font-size);
    font-family: var(--font-family);
    border-radius: var(--card-border-radius);
    border-width: var(--border-width);
    background-color: var(--secondary-color);
}

img {
    width: var(--image-width);
}

button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: var(--button-padding);
    border:var(--button-border);
    border-radius: var(--button-border-radius);
}

button:hover{
    background-color: var(--button-hover-background-color);
}

@media (max-width: 767px) {
    .card {
    width: var(--card-width-mobile);
    padding: var(--card-padding-mobile);
}
h2 {
    font-size: var(--heading-font-size-mobile);
}

}

@media (min-width: 768px) {
    .card {
    width: var(--card-width-desktop);
    padding: var(--card-padding-desktop);

}
h2 {
    font-size: var(--heading-font-size-desktop);
}
}


